<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Image Retrieval</title>
</head>
<body background="../static/upload_image/image1.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">
    <div style="padding-left: 60px;">
        <h1>图片检索</h1>
        <form action="" enctype='multipart/form-data' method='POST'>
            <input type="file" name="picture" style="margin-top:20px;"/>
            <br>
            <i>更新图片请点击这里: </i>
            <input type="submit" value="更新" name="submit" class="button-new" style="margin-top:15px;"/>
            <br>
            <i>开始检索请点击这里: </i>
            <input type="submit" value="检索" name="submit" class="button-new" style="margin-top:15px;"/>
        </form>
    </div>
</body>
</html>